.profile-hero-component {
    .profile-hero-container {
        text-align: center;
    }

    .avatar-wrapper {
        margin: 0 auto;
        width: 20rem;
        border-radius: 1.6rem;
        overflow: hidden;
        margin-bottom: 2rem;

        .avatar {
            width: 100%;
        }
    }

    .username {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 1.4rem;
    }

    .location {
        color: $gray2;
        font-size: 1.4rem;
        margin-bottom: 2.4rem;
        display: block;
    }

    .status-list {
        display: flex;
        justify-content: center;
        max-width: 48rem;
        width: 100%;
        margin: 0 auto;

        .status {
            min-width: 10rem;
            max-width: 10rem;
            height: 7rem;
            background: $gray4;
            border-radius: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 2rem;

            .info {
                display: block;
                color: $gray5;
                font-size: 1.4rem;

                &.highlight {
                    font-weight: 500;
                    color: $black;
                    margin-bottom: .5rem;
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .avatar-wrapper {
            width: 14rem;
            margin-bottom: 1rem;
        }

        .username {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        .location {
            font-size: 1.2rem;
            margin-bottom: 1.8;
        }

        .status-list {
            .status {
                min-width: 8rem;
                max-width: 8rem;
                height: 6rem;
                margin: 0 1rem;

                .info,
                .info.highlight {
                    font-size: 1.2rem;
                }
            }
        }
    }
}